.container{
   display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
          display:flex;
          justify-content: space-between;
          align-items: center;
           flex-direction:row;
         
}
.item{
    color:rgb(255, 0, 195);
            border:solid;
            display:flex;
           flex-direction:row;
        gap:2px;
            width:100px;
            height:100px;
            justify-content: center;
            align-items: center;
            background-color: rgb(144, 255, 127);
}
.item1{
    color:rgb(255, 0, 195);
            border:solid;
            display:flex;
           flex-direction:row;
           gap:2px;
            width:100px;
            height:100px;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 176, 127);
}
.item2{
    color:rgb(255, 0, 195);
            border:solid;
            display:flex;
           flex-direction:row;
           gap:2px;
            width:100px;
            height:100px;
            justify-content: center;
            align-items: center;
            background-color: rgb(127, 187, 255);
}
.item3{
    color:rgb(255, 0, 195);
            border:solid;
            display:flex;
           flex-direction:row;
           gap:2px;
            width:100px;
            height:100px;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 127, 127);
}
.item4{
    color:rgb(255, 0, 195);
            border:solid;
            display:flex;
           flex-direction:row;
           gap:2px;
            width:100px;
            height:100px;
            justify-content: center;
            align-items: center;
            background-color: aquamarine;
}
.container1{
    color:beige;
    display: grid;
    border : solid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:3px;
}
.A{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height:20px;
     background-color:deeppink;
    border:2px solid rgb(42, 165, 93);
}
.B{
    display: flex;
    justify-content: center;
    align-items: center;
   border-radius: 5px;
    height:20px;
    gap:5px;
     background-color: rgb(34, 255, 0);
    border:2px solid rgb(42, 52, 165);
}
.C{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3px;
    border-radius: 5px;
    height:20px;
     background-color: rgb(255, 0, 43);
    border:2px solid rgb(165, 161, 42);
}
.D{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3px;
    border-radius: 5px;
    height:20px;
     background-color: rgb(0, 162, 255);
    border:2px solid rgb(165, 42, 124);
}
.E{
    display: flex;
    justify-content: center;
    gap:3px;
    border-radius: 5px;
    height:20px;
    align-items: center;
     background-color:black;
    border:2px solid rgb(111, 61, 61);
}
.F{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3px;
    border-radius: 5px;
    height:20px;
    background-color: blue;
    border:2px solid brown;
}


