.header{
            background-color: rgb(191, 96, 49);
            color: white;
            text-align: center;
            padding: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        body{
            background-color: antiquewhite;
        }
        .menubar{
            background-color: gold;
            color: white;
            font-size: 23px;
            height: 35px;
            text-align: left;
            a{
                text-decoration: none;
                color: white;
                padding: 10px;
            }
        }
        .main{
            display: flex;
             gap: 0.2rem;
            width: 100%;
            .left,.right,.middle{
                display: flex;
                flex-direction: column;
                align-items: center;

                background-color: burlywood;
                height: 300px;
                width: 35%;
                img{
                    align-items: center;
                }
            }
            
        }
        .footer
        {
            height: 20px;
            color: white;
            background-color: rgb(191, 96, 49);
            text-align: center;
        }
        .section{
            display: flex;
            flex-direction: row;
            height: 200px;
            width: 100%;
            
            .section1{
                width: 50%;
                background-color: rgb(189, 218, 161);
                text-align: center;
                font-size: 30px;
                justify-items: center;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            .section2{
                width: 50%;
                background-color:palevioletred ;
                font-size: 30px;
                justify-items: center;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
        }